<p>
I am Cristiano Alves da Silva J&uacute;nior. You can call me Cris "Joe" Silva Jr. I transform coffee and donuts into solutions to problems.
</p>

<p>
You can e-mail me at <a href="mailto:cristianoalvesjr@gmail.com">cristianoalvesjr@gmail.com</a>.
</p>

<p>
If you want to hire me, check this more professional <a href="http://stackoverflow.com/cv/crisjoejr">CV</a> and my <%= link_to 'portfolio', controller: 'hello', action: 'work' %>. In summary: I am a control and automation engineer specialized in digital signal processing. Most of my experiences revolved around producing dedicated software tools for analysing biomedical signals, writting documentation for the end user of these technologies, and organizing the teams I was part of to actually build our products.
</p>

<p>If you just want to spend time with me, I like to make stuff with my Arduino, play bass, eat pizza, read webcomics, and shoot guns.</p>
