<p>
I am Cristiano Alves da Silva J&uacute;nior. You can call me Cris "Joe" Silva Jr. I transform coffee and donuts into solutions to problems. I like to make stuff with my Arduino, play bass, eat pizza, read webcomics and shoot guns. You can e-mail me at <a href="mailto:cristianoalvesjr@gmail.com">cristianoalvesjr@gmail.com</a>. My GitHub account is <a href="https://github.com/ishiikurisu">@ishiikurisu</a>.
</p>

<p>
If you want to hire me, check this more professional <a href="http://stackoverflow.com/cv/crisjoejr">CV</a> and my <%= link_to 'portfolio', controller: 'hello', action: 'work' %>. In summary: I am a control and automation engineer specialized in digital signal processing. Most of my experiences revolved around producing dedicated software tools for analysing biomedical signals and the documentation for these applications; and organizing the teams I was part of to actually complete our projects.
</p>

<p>
<table rules='all'>
    <col width='20%'/>
    <col width='80%'/>
    <tr><th>Role</th><th>Examples</th></tr>
    <tr>
        <td>Software engineer</td>
        <td>
            <p>Researcher of the <a href="https://lab-neuro-comp.github.io/">Laboratory of Neuroscience and Behaviour</a> in the University of Brasilia, I developed software dedicated for biomedical signal and psycological data processing, such as <%= link_to 'Protolize!, Scalemate', controller: 'hello', action: 'work' %> and an implementation of the <a href="https://github.com/lab-neuro-comp/SST">Stop-Signal Task</a>. Each one of them is presented in their own scientific publications.</p>
            <p>Member of the <a href="https://www.imaginecup.com/team/index/102865">#PARTIU team</a>, that came from SENAI DF and competed in Microsoft's Imagine Cup.</p>
        </td>
    </tr>
    <tr>
        <td>Project manager</td>
        <td>
            <p>Organizational President of <a href="https://www.facebook.com/sensesunb">IEEE EMBS UnB</a>, organizing the whole chapter towards our projects and events, such as talks on biomedical engineering and time management; and the <a href="http://possibilita.herokuapp.com">Possibilita</a> website.</p>
            <p>General Secretary of IEEE CS UnB, organizing the <a href="https://github.com/ComputerSocietyUNB/TDD">Coding Dojo</a> and maintaining the chapter's teams.</p>
        </td>
    </tr>
</table>
</p>
