<p>
I am Cristiano Alves da Silva J&uacute;nior. You can call me Cris "Joe" Silva Jr. I transform coffee and donuts into solutions to problems. I like to make stuff with my Arduino, play bass, eat pizza, read webcomics and shoot guns. You can e-mail me at <a href="mailto:cristianoalvesjr@gmail.com">cristianoalvesjr@gmail.com</a>.
</p>

<p>
If you want to hire me, check this more professional <a href="http://stackoverflow.com/cv/crisjoejr">CV</a> and my <%= link_to 'portfolio', controller: 'hello', action: 'work' %>. In summary: I am a control and automation engineer specialized in digital signal processing. Most of my experiences revolved around producing dedicated software tools for analysing biomedical signals and the documentation for these applications; and organizing the teams I was part of to actually complete our projects.
</p>

<p>
<table rules='all'>
    <col width='20%'/>
    <col width='80%'/>
    <tr><th>Role</th><th>Examples</th></tr>
    <tr>
        <td>Software engineer</td>
        <td>
            <p>Researcher of the Laboratory of Neuroscience and Behaviour Laboratory in the University of Brasilia.</p>
            <p>Member of the #PARTIU team, that caeme from SENAI and competed in Microsoft's Imagine Cup.</p>
        </td>
    </tr>
    <tr>
        <td>Project manager</td>
        <td>
            <p>Organizational President of IEEE EMBS UnB, organizing the whole chapter towards our projects and events, such as talks on Biomedical Engineering and Time management; and the <a href="http://possibilita.herokuapp.com">Possibilita</a> website.</p>
            <p>General Secretary of IEEE CS UnB, organizing the <a href="https://github.com/ComputerSocietyUNB/TDD">Coding Dojo</a> and maintaining the chapter's teams.</p>
        </td>
    </tr>
</table>
</p>
