<p>
I am Cristiano Alves da Silva J&uacute;nior. You can call me Cris "Joe" Silva Jr. <br/>
I earn my living tranforming coffee and donuts into solutions to problems. <br/>
In my free time, I like to make stuff with my Arduino, record songs with my bass, read webcomics, and eat pizza. <br/>
You can e-mail me at <a href="mailto:cristianoalvesjr@gmail.com">cristianoalvesjr@gmail.com</a> <br/>
If you want to hire me, check this more professional<a href="http://stackoverflow.com/cv/crisjoejr">"about me"</a><br/>
<!-- <br/> You can find me at GitHub and Listography.-->
</p>
