%p
    I am Cristiano Alves da Silva J&uacute;nior. You can call me Cris "Joe" Silva Jr. I transform coffee and donuts into solutions to problems. I like to make stuff with my Arduino, play bass, eat pizza, read webcomics and shoot guns.

%p
    You can e-mail me at
    %a{:href => "mailto:cristianoalvesjr@gmail.com"} cristianoalvesjr@gmail.com

%p
    My GitHub account is
    %a{:href => "https://github.com/ishiikurisu"} @ishiikurisu
