%p The garage is the place for the stuff I made on my own. I hope these can be useful for everyone!

%table{:rules => 'all'}
    %col{:width => '20%'}
    %col{:width => '80%'}
    %tr
        %th
            Name
        %th
            Description
    %tr
        %td
            %a{:href => "https://github.com/ishiikurisu/edf"} EDF+ Implementation
        %td
            %p
                An
                %a{:href => "http://www.edfplus.info/"} EDF+
                implementation for Go.

    %tr
        %td
            %a{:href => "https://github.com/ishiikurisu/Counter/releases/download/v1.0.0/sheep.apk"} Counting Sheep
        %td
            %p
                An Android app to count. Simple as that.
                %a{:href => "https://github.com/ishiikurisu/Counter"} Source code available.

    %tr
        %td
            %a{:href => "https://logey.herokuapp.com"} Logey
        %td
            %p
                An online money logging tool.
                %a{:href => "https://github.com/ishiikurisu/moneyweb"}Source code available.

    %tr
        %td
            %a{:href => "https://github.com/ishiikurisu/house"} House
        %td
            %p A tool for facilitating Git operations on terminal.

    %tr
        %td
            %a{:href => "https://github.com/ishiikurisu/failproof/releases"} Failproof Checklists
        %td
            %p
                A place for your checklists. Everyone has got their own after all.
                %a{:href => "https://github.com/ishiikurisu/failproof-api"} Source code available.
