<div class="work" id="block-p2">
    <style scoped="true">
      div#block-p2 {
        background-image: url('https://s-media-cache-ak0.pinimg.com/originals/41/93/17/4193175a7b2614486ffe310e9b0239f2.png');
        color: #111;
      }
      #block-p2 a:link,
      #block-p2 a:visited {
        color: black;
        text-decoration: none;
      }

      #block-p2 a:hover {
        color: black;
        text-decoration: underline;
      }
    </style>
    <h2><a href="https://github.com/lab-neuro-comp/P2">PROTOLIZE!!</a></h2>
    <p>
      A DSP suite for MATLAB. Designed primarily for processing electroencephalographic signals, it can make use of Fourier and Wavelets analysis to deal with your data.
    </p>
  </div>

  <div class="work" id="block-sst">
    <style scoped="true">
      div#block-sst {
          background-image: url('https://s-media-cache-ak0.pinimg.com/originals/69/a6/7e/69a67ea12a9773149d8e814cff3f0ca3.png');
          color: #0957C3;
        }
        #block-sst a:link,
        #block-sst a:visited {
          color: #0957C3;
          text-decoration: none;
        }

        #block-sst a:hover {
          color: #0957C3;
          text-decoration: underline;
        }
    </style>
    <h2><a href="https://github.com/lab-neuro-comp/SST">Stop-Signal Task</a></h2>
    <p>
      An implementation of the SST using E-prime, focused on elders.
    </p>
  </div>

    <div class="work" id="block-sm">
    <style scoped="true">
      div#block-sm {
        background: url('https://s-media-cache-ak0.pinimg.com/originals/1a/e0/91/1ae0915da7a41f9cc3c6fea1dec31690.png');
        color: #111;
      }
      #block-sm a:link,
      #block-sm a:visited {
        color: #111;
        text-decoration: none;
      }

      #block-sm a:hover {
        color: #111;
        text-decoration: underline;
      }
    </style>
    <h2><a href="https://yadi.sk/d/3sm8awtCqsoTX">Scalemate</a></h2>
    <p>
      A platform for psychological scales. <a href="https://github.com/ishiikurisu/Scalemate">Source code available.</a>
    </p>
  </div>

  <div class="work" id="block-braile">
    <style scoped="true">
      div#block-braile {
        background: url('https://s-media-cache-ak0.pinimg.com/originals/b9/a3/5d/b9a35d8de36808e530d772e357766fec.jpg');
        color: #D8402F;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
      }
      #block-braile a:link,
      #block-braile a:visited {
        color: #D8402F;
        text-decoration: none;
      }

      #block-braile a:hover {
        color: #D8402F;
        text-decoration: underline;
      }
    </style>
    <h2><a href="https://www.facebook.com/sensesunb">EMBS/Senses UnB</a></h2>
    <p>
      The IEEE's Engineering in Medicine and Biology Society student chapter in University of Bras&iacute;lia.
    </p>
  </div>

  <div class="work" id="block-partiu">
    <style scoped="true">
      div#block-partiu {
        background-image: url('https://s-media-cache-ak0.pinimg.com/originals/11/c5/94/11c59431ffc554c2290c4e2965802085.png');
        color: #A3428F;
      }
      #block-partiu a:link,
      #block-partiu a:visited {
        color: #A3428F;
        text-decoration: none;
      }
      #block-partiu a:hover {
        color: #A3428F;
        text-decoration: underline;
      }
    </style>
    <h2><a href="https://www.imaginecup.com/team/index/102865">#PARTIU</a></h2>
    <p>
      A social network to find out where are the things you want.
    </p>
  </div>

  <div class="work" id="block-sheep">
    <style scoped="true">
      div#block-sheep {
        background-image: url('https://s-media-cache-ak0.pinimg.com/originals/9e/2f/2e/9e2f2eead70d7a494b608815a170ad80.png');
      }
      #block-sheep a:link,
      #block-sheep a:visited {
        color: #eee;
        text-decoration: none;
      }
      #block-sheep a:hover {
        color: #eee;
        text-decoration: underline;
      }
    </style>
    <h2><a href="https://yadi.sk/d/Rylg5MSavJvua">Counting Sheep</a></h2>
    <p>
      An app to count. Simple as that. <a href="https://github.com/ishiikurisu/Counter">Source code available.</a>
    </p>
  </div>


<!--
  <div class="work" id="block-ed">
    <style scoped="true">
      div#block-ed {
        background: #cbcbcb;
        color: #111;
      }
      #block-ed a:link,
      #block-ed a:visited {
        color: #111;
        text-decoration: none;
      }

      #block-ed a:hover {
        color: #111;
        text-decoration: underline;
      }
    </style>
    <h2><a href="https://yadi.sk/d/sFd6wLcTqKkTA">Edinburgh's Inventory</a></h2>
    <p>
      A small implementation of the Edinburgh's handedness inventory for Windows. <a href="https://github.com/ishiikurisu/EEG/tree/master/src/edinburgh">Source code available.</a> <a href="https://yadi.sk/d/GDpnY5lHqKkT4">Brazilian Portuguese version too.</a>
    </p>
  </div>

  <div class="work" id="block-list">
    <style scoped="true">
      div#block-list {
        background-image: url('./assets/list.png');
      }
      a#block-list {
        color: #EF1234;
      }
    </style>
    <h2>failproof checklists</h2>
    <p>
      Social network to share your checklists. We all have our own, after all.
    </p>
  </div>
-->
