<div class="work" id="block-p2">
    <h2><a href="https://github.com/lab-neuro-comp/P2">PROTOLIZE!!</a></h2>
    <p>
        A DSP suite for MATLAB. Designed primarily for processing electroencephalographic signals, it can make use of Fourier and Wavelets analysis to deal with your data.
    </p>
</div>

<div class="work" id="block-sm">
    <h2><a href="https://github.com/ishiikurisu/Scalemate/releases/download/v1.0.0/Scalemate.zip">Scalemate</a></h2>
    <p>
        A platform for psychological scales. <a href="https://github.com/ishiikurisu/Scalemate">Source code available.</a>
    </p>
</div>

<div class="work" id="block-edf">
    <h2><a href="https://github.com/ishiikurisu/edf">EDF+ Implementation</a></h2>
    <p>
        An <a href="http://www.edfplus.info/">EDF+</a> implementation for Go.
    </p>
</div>

<div class="work" id="block-sheep">
    <h2><a href="https://github.com/ishiikurisu/Counter/releases/download/v1.0.0/sheep.apk">Counting Sheep</a></h2>
    <p>
        An Android app to count. Simple as that. <a href="https://github.com/ishiikurisu/Counter">Source code available.</a>
    </p>
</div>

<div class="work" id="block-logey">
    <h2><a href="https://logey.herokuapp.com">Logey</a></h2>
    <p>
        An online money logging tool. <a href="https://github.com/ishiikurisu/moneyweb">Source code available.</a>
    </p>
</div>

<div class="work"id="block-house">
    <h2><a href="https://github.com/ishiikurisu/house">House</a></h2>
    <p>
        A tool for facilitating Git operations on terminal.
    </p>
</div>

<div class="work" id="block-failproof">
    <h2><a href="https://github.com/ishiikurisu/failproof/releases">Failproof Checklists</a></h2>
    <p>
        A place for your checklists. Everyone has got their own after all. <a href="https://github.com/ishiikurisu/failproof-api">Source code available.</a>
    </p>
</div>

<!--
  <div class="work" id="block-list">
    <style scoped="true">
      div#block-list {
        background-image: url('./assets/list.png');
      }
      a#block-list {
        color: #EF1234;
      }
    </style>
    <h2>failproof checklists</h2>
    <p>
      Social network to share your checklists. We all have our own, after all.
    </p>
  </div>
-->
