<div class="work" id="block-p2">
    <h2><a href="https://github.com/lab-neuro-comp/P2">PROTOLIZE!!</a></h2>
    <p>
      A DSP suite for MATLAB. Designed primarily for processing electroencephalographic signals, it can make use of Fourier and Wavelets analysis to deal with your data.
    </p>
  </div>

  <div class="work" id="block-sst" onclick="fade('block-sst')">
    <h2><a href="https://github.com/lab-neuro-comp/SST">Stop-Signal Task</a></h2>
    <p>
      An implementation of the SST using E-prime, focused on elders.
    </p>
  </div>

    <div class="work" id="block-sm">
    <h2><a href="https://github.com/ishiikurisu/Scalemate/releases/download/v1.0.0/Scalemate.zip">Scalemate</a></h2>
    <p>
      A platform for psychological scales. <a href="https://github.com/ishiikurisu/Scalemate">Source code available.</a>
    </p>
  </div>

  <div class="work" id="block-braile">
    <h2><a href="https://www.facebook.com/sensesunb">EMBS/Senses UnB</a></h2>
    <p>
      The IEEE's Engineering in Medicine and Biology Society student chapter in University of Bras&iacute;lia.
    </p>
  </div>

  <div class="work" id="block-partiu">
    <h2><a href="https://www.imaginecup.com/team/index/102865">#PARTIU</a></h2>
    <p>
      A social network to find out where are the things you want.
    </p>
  </div>

  <div class="work" id="block-sheep">
    <h2><a href="https://github.com/ishiikurisu/Counter/releases/download/v1.0.0/sheep.apk">Counting Sheep</a></h2>
    <p>
      An app to count. Simple as that. <a href="https://github.com/ishiikurisu/Counter">Source code available.</a>
    </p>
  </div>


<!--
  <div class="work" id="block-ed">
    <style scoped="true">
      div#block-ed {
        background: #cbcbcb;
        color: #111;
      }
      #block-ed a:link,
      #block-ed a:visited {
        color: #111;
        text-decoration: none;
      }

      #block-ed a:hover {
        color: #111;
        text-decoration: underline;
      }
    </style>
    <h2><a href="https://yadi.sk/d/sFd6wLcTqKkTA">Edinburgh's Inventory</a></h2>
    <p>
      A small implementation of the Edinburgh's handedness inventory for Windows. <a href="https://github.com/ishiikurisu/EEG/tree/master/src/edinburgh">Source code available.</a> <a href="https://yadi.sk/d/GDpnY5lHqKkT4">Brazilian Portuguese version too.</a>
    </p>
  </div>

  <div class="work" id="block-list">
    <style scoped="true">
      div#block-list {
        background-image: url('./assets/list.png');
      }
      a#block-list {
        color: #EF1234;
      }
    </style>
    <h2>failproof checklists</h2>
    <p>
      Social network to share your checklists. We all have our own, after all.
    </p>
  </div>
-->
