<p>
If you want to hire me, check my <a href="http://stackoverflow.com/cv/crisjoejr">CV</a> as well. In summary: I am a control and automation engineer specialized in digital signal processing. Most of my experiences revolved around producing dedicated software tools for analysing biomedical signals and the documentation for these applications; and organizing the teams I was part of to actually complete our projects.
</p>

<table rules='all'>
    <col width='20%'/>
    <col width='80%'/>
    <tr><th>Role</th><th>Examples</th></tr>
    <tr>
        <td>Software engineer</td>
        <td>
            <p>Researcher of the <a href="https://lab-neuro-comp.github.io/">Laboratory of Neuroscience and Behaviour</a> in the University of Brasilia, I developed software dedicated for biomedical signal and psycological data processing, such as <a href="https://github.com/lab-neuro-comp/P2">Protolize!</a>, <a href="https://github.com/ishiikurisu/Scalemate">Scalemate</a> and an implementation of the <a href="https://github.com/lab-neuro-comp/SST">Stop-Signal Task</a>. Each one of them is presented in their own scientific publications.</p>

            <p>Member of the <a href="https://www.imaginecup.com/team/index/102865">#PARTIU team</a>, that came from SENAI DF and competed in Microsoft's Imagine Cup.</p>
        </td>
    </tr>
    <tr>
        <td>Project manager</td>
        <td>
            <p>Organizational President of <a href="https://www.facebook.com/sensesunb">IEEE EMBS UnB</a>, organizing the whole chapter towards our projects and events, such as talks on biomedical engineering and time management; and the <a href="http://possibilita.herokuapp.com">Possibilita</a> website.</p>

            <p>General Secretary of IEEE CS UnB, organizing the <a href="https://github.com/ComputerSocietyUNB/TDD">Coding Dojo</a> and maintaining the chapter's teams.</p>
        </td>
    </tr>
</table>


<!--
<div class="work" id="block-p2">
    <h2><a href="">PROTOLIZE!!</a></h2>
    <p>
        A DSP suite for MATLAB. Designed primarily for processing electroencephalographic signals, it can make use of Fourier and Wavelets analysis to deal with your data.
    </p>
</div>

<div class="work" id="block-sm">
    <h2><a href="https://github.com/ishiikurisu/Scalemate/releases/download/v1.0.0/Scalemate.zip">Scalemate</a></h2>
    <p>
        A platform for psychological scales. <a href="">Source code available.</a>
    </p>
</div>
-->

<!--
  <div class="work" id="block-list">
    <style scoped="true">
      div#block-list {
        background-image: url('./assets/list.png');
      }
      a#block-list {
        color: #EF1234;
      }
    </style>
    <h2>failproof checklists</h2>
    <p>
      Social network to share your checklists. We all have our own, after all.
    </p>
  </div>
-->
