%p
    If you want to hire me, check my
    %a{:href => "http://stackoverflow.com/cv/crisjoejr"} CV
    as well. In summary: I am a control and automation engineer specialized in digital signal processing. Most of my experiences revolved around producing dedicated software tools for analysing biomedical signals and the documentation for these applications; and organizing the teams I was part of to actually complete our projects.

%table{:rules => 'all'}
    %col{:width => '20%'}
    %col{:width => '80%'}
    %tr
        %th Role
        %th Examples
    %tr
        %td Software Engineer
        %td
            %p
                Researcher of the Laboratory of Neuroscience and Behaviour in the University of Brasilia, I developed software dedicated for biomedical signal and psycological data processing, such as
                %a{:href => "https://github.com/lab-neuro-comp/P2"} Protolize!,
                %a{:href => "https://github.com/ishiikurisu/Scalemate"} Scalemate
                and an implementation of the
                %a{:href => "https://github.com/lab-neuro-comp/SST"} Stop Signal Task.
                Each one of them is presented in their own scientific publications.
            %p
                Member of the
                %a{:href => "https://www.imaginecup.com/team/index/102865"} #PARTIU team,
                that came from SENAI DF and competed in Microsoft's Imagine Cup.
    %tr
        %td Project Manager
        %td
            %p
                Organizational President of
                %a{:href => "https://www.facebook.com/sensesunb"} IEEE EMBS UnB,
                organizing the whole chapter towards our projects and events, such as talks on biomedical engineering and time management and the
                %a{:href => "http://possibilita.herokuapp.com"} Possibilita website.

            %p
                General Secretary of IEEE CS UnB, organizing the
                %a{:href => "https://github.com/ComputerSocietyUNB/TDD"} Coding Dojo UnB
                and maintaining the chapter's teams.
