div#block-p2 {
  background-image: image-url('protolize.png');
  color: #111;
}
#block-p2 a:link,
#block-p2 a:visited {
  color: black;
  text-decoration: none;
}

#block-p2 a:hover {
  color: black;
  text-decoration: underline;
}

div#block-sst {
    background-image: url('SST.png');
    color: #0957C3;
}
#block-sst a:link,
#block-sst a:visited {
    color: #0957C3;
    text-decoration: none;
}

#block-sst a:hover {
    color: #0957C3;
    text-decoration: underline;
}

div#block-sm {
    background: url('scalemate.png');
    color: #111;
}
#block-sm a:link,
#block-sm a:visited {
    color: #111;
    text-decoration: none;
}

#block-sm a:hover {
    color: #111;
    text-decoration: underline;
}

div#block-braile {
  background: url('senses.jpg');
  color: #D8402F;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
#block-braile a:link,
#block-braile a:visited {
  color: #D8402F;
  text-decoration: none;
}

#block-braile a:hover {
  color: #D8402F;
  text-decoration: underline;
}

div#block-partiu {
  background-image: url('partiu.png');
  color: #A3428F;
}
#block-partiu a:link,
#block-partiu a:visited {
  color: #A3428F;
  text-decoration: none;
}
#block-partiu a:hover {
  color: #A3428F;
  text-decoration: underline;
}

div#block-sheep {
  background-image: url('counter.png');
}
#block-sheep a:link,
#block-sheep a:visited {
  color: #eee;
  text-decoration: none;
}
#block-sheep a:hover {
  color: #eee;
  text-decoration: underline;
}
