div#block-p2 {
  background-image: image-url('protolize.png');
  color: #111;
}
#block-p2 a:link,
#block-p2 a:visited {
  color: black;
  text-decoration: none;
}

#block-p2 a:hover {
  color: black;
  text-decoration: underline;
}

div#block-sm {
    background: image-url('scalemate.png');
    color: #111;
}
#block-sm a:link,
#block-sm a:visited {
    color: #111;
    text-decoration: none;
}

#block-sm a:hover {
    color: #111;
    text-decoration: underline;
}

div#block-sheep {
  background-image: image-url('counter.png');
}
#block-sheep a:link,
#block-sheep a:visited {
  color: #eee;
  text-decoration: none;
}
#block-sheep a:hover {
  color: #eee;
  text-decoration: underline;
}

div#block-logey {
  background: #FDEB6C;
  font-family: 'Fredoka One', cursive;
  color:#9BC53D;
  a:link, a:visited {
    text-decoration: none;
    color:#9BC53D;
  }
  a:hover {
    text-decoration: underline;
    color:#9BC53D;
  }
}

div#block-edf{
    background: #FFF;
    font-family: sans-serif;
    color:#000;
    a:link, a:visited {
        text-decoration: underline;
        color:#000;
    }
    a:hover {
        text-decoration: underline;
        color:#000;
    }
}
