<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Personal website for Cristiano Silva Jr.">
        <title>Hello!</title>
        <link rel="icon" href="https://raw.githubusercontent.com/ishiikurisu/crisjr-eng-br/master/assets/logo.png">
        <style>
            {{.Style}}
        </style>
    </head>
    <body>

        <div class="header">
            <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
                <a class="pure-menu-heading" href="/"><i class="fa fa-smile-o"></i>
					Cris Silva Jr.
				</a>

                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="office" class="pure-menu-link pure-menu-selected">Office</a></li>
                    <li class="pure-menu-item"><a href="garage" class="pure-menu-link">Garage</a></li>
                </ul>
            </div>
        </div>

        <div class="content">
            <h2 class="content-head is-center">As an Engineer...</h2>

            <div class="pure-g">
                <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
                    <img width="300" alt="File Icons" class="pure-img-responsive" src="https://raw.githubusercontent.com/ishiikurisu/crisjr-eng-br/master/assets/unb.png">
                </div>
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
                    <h2 class="content-head">Education</h2>
                    <p>
                        I study Mechatronics Engineering in <a class="joe-link" href="http://unb.br/">University of Brasilia</a>.
                    </p>
                </div>

                <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
                    <img width="300" alt="File Icons" class="pure-img-responsive" src="https://raw.githubusercontent.com/ishiikurisu/crisjr-eng-br/master/assets/labneuro.png">
                </div>
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
                    <h2 class="content-head">Researcher at the Laboratory of Neuroscience and Behaviour</h2>
                    <p>
                        I developed software dedicated for biomedical signal processing and psychological data processing, such as <a class="joe-link" href="https://github.com/lab-neuro-comp/P2">Protolize!</a>, <a class="joe-link" href="https://github.com/ishiikurisu/Scalemate">Scalemate</a>, and an implementation of the Stop Signal Task. Each one of them is presented in their own scientific publications.
                    </p>
                </div>
            </div>
        </div>

        <div class="content manager-joe">
            <h2 class="content-head is-center">As a Project Manager...</h2>

            <div class="pure-g">
                <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
                    <img width="300" alt="File Icons" class="pure-img-responsive" src="https://raw.githubusercontent.com/ishiikurisu/crisjr-eng-br/master/assets/embs.png">
                </div>
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
                    <h2 class="content-head"><a class="black-header-link" href="https://www.facebook.com/sensesunb/">Vice Chair of IEEE EMBS UnB</a></h2>
                    <p>
                        I help organize the whole chapter towards our projects and events, such as talks on biomedical engineering or time management, and the <a class="black-header-link" href="https://www.possibilita.bmd.br">Possibilita</a> website.
                    </p>
                </div>

                <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
                    <img width="300" alt="File Icons" class="pure-img-responsive" src="https://raw.githubusercontent.com/ishiikurisu/crisjr-eng-br/master/assets/cs.png">
                </div>
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
                    <h2 class="content-head"><a class="black-header-link" href="https://www.facebook.com/IEEEComputerSocietyUnB">General Secretary of IEEE CS UnB</a></h2>
                    <p>
                        I organize the <a class="black-header-link" href="https://www.facebook.com/groups/1009735115784291/">Coding Dojo UnB</a> and maintain the chapter's teams.
                    </p>
                </div>
            </div>
        </div>

        <div class="content ">
            {{.Footer}}
        </div>

        <script type="text/javascript">
            {{.Script}}
        </script>
    </body>
</html>
