<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Personal website for Cristiano Silva Jr.">
        <title>Hello!</title>
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="icon" href="https://s-media-cache-ak0.pinimg.com/236x/fe/65/d5/fe65d5de7875c35b0a06bd2b7a59ef81.jpg">
        <style>
            {{.Style}}
        </style>
    </head>
    <body>

        <div class="header">
            <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
                <a class="pure-menu-heading" href="/"><i class="fa fa-smile-o"></i>
					Cris Silva Jr.
				</a>

                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="office" class="pure-menu-link pure-menu-selected">Office</a></li>
                    <li class="pure-menu-item"><a href="garage" class="pure-menu-link">Garage</a></li>
                </ul>
            </div>
        </div>

        <div class="content">
            <h2 class="content-head is-center">As an Engineer...</h2>

            <div class="pure-g">
                <!-- <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
                    <img width="300" alt="File Icons" class="pure-img-responsive" src="img/common/file-icons.png">
                </div> -->
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
                    <h2 class="content-head">Education</h2>
                    <p>
                        I study Mechatronics Engineering in University of Brasilia.
                    </p>
                </div>

                <!-- <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
                    <img width="300" alt="File Icons" class="pure-img-responsive" src="img/common/file-icons.png">
                </div> -->
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
                    <h2 class="content-head">Researcher at the Laboratory of Neuroscience and Behaviour</h2>
                    <p>
                        I developed software dedicated for biomedical signal processing and psychological data processing, such as <a class="joe-link" href="#">Protolize!</a>, <a class="joe-link" href="#">Scalemate</a>, and an implementation of the Stop Signal Task. Each one of them is presented in their own scientific publications.
                    </p>
                </div>
            </div>
        </div>

        <div class="content manager-joe">
            <h2 class="content-head is-center">As a Project Manager...</h2>

            <div class="pure-g">
                <!-- <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
                    <img width="300" alt="File Icons" class="pure-img-responsive" src="">
                </div> -->
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
                    <h2 class="content-head">Vice Chair of IEEE EMBS UnB</h2>
                    <p>
                        I help organize the whole chapter towards our projects and events, such as talks on biomedical engineering or time management, and the Possibilita website.
                    </p>
                </div>

                <!-- <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
                    <img width="300" alt="File Icons" class="pure-img-responsive" src="img/common/file-icons.png">
                </div> -->
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
                    <h2 class="content-head">General Secretary of IEEE CS UnB,</h2>
                    <p>
                        I organizine the Coding Dojo UnB and maintain the chapter's teams.
                    </p>
                </div>
            </div>
        </div>

        <div class="content ">
            <h2 class="content-head is-center">How can you find me?</h2>

            <div class="pure-g">
                <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                    <h4>Send me an e-mail!</h4>
                    <p>
                        My e-mail is <a class="joe-link" href="mailto:cristianoalvesjr@gmail.com">cristianoalvesjr@gmail.com</a>. Feel free to contact me!
                    </p>

                    <h4>More Information...</h4>
                    <p>
                        You can find me at <a class="joe-link" href="https://github.com/ishiikurisu">GitHub</a> and <a class="joe-link" href="https://www.linkedin.com/in/cristiano-alves-da-silva-júnior-085391141/">LinkedIn</a>. Read my <a class="joe-link" href="http://stackoverflow.com/cv/crisjoejr">CV at Stack Overflow</a>.
                    </p>
                </div>
            </div>

        </div>

        <script type="text/javascript">
            {{.Script}}
        </script>
    </body>
</html>
